<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948213561557-msprgam68dpgii416i4gg1hetjlhkamm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948213561557-msprgam68dpgii416i4gg1hetjlhkamm</string>
	<key>API_KEY</key>
	<string>AIzaSyD6Gf-KD85dZONiWssBQNjI4qKqhRx0WAw</string>
	<key>GCM_SENDER_ID</key>
	<string>948213561557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.studentProyect.Uber</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-505b5</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-505b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948213561557:ios:15fd461250cad7b26fca5c</string>
	<key>DATABASE_URL</key>
	<string>https://uber-clone-505b5.firebaseio.com</string>
</dict>
</plist>